apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-metrics-apiserver
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "wavefront-kubernetes-adapter.labels" . | indent 4 }}
    app: custom-metrics-apiserver
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: custom-metrics-apiserver
  template:
    metadata:
      labels:
{{ include "wavefront-kubernetes-adapter.labels" . | indent 8 }}
        app: custom-metrics-apiserver
      name: custom-metrics-apiserver
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: custom-metrics-apiserver
      containers:
      - name: custom-metrics-apiserver
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - /wavefront-adapter
        - --wavefront-url=https://{{ required "Required: Instance name .Values.args.instance" .Values.args.instance }}.wavefront.com
        - --wavefront-token={{ required "Required: token .Values.args.token" .Values.args.token }}
        - --wavefront-metric-prefix={{ .Values.args.prefix }}
        - --cert-dir=/etc/ssl/certs
        - --secure-port=6443
        - --metrics-relist-interval={{ .Values.args.relistInterval }}
        - --external-metrics-config=/etc/adapter/config.yaml
        - --logtostderr={{ .Values.args.logToStderr }}
        ports:
        - containerPort: 6443
        volumeMounts:
        - mountPath: /tmp
          name: temp-vol
        - mountPath: /etc/adapter/
          name: config
          readOnly: true
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | trim | nindent 10 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.priorityClassName }}
      priorityClassName: {{ toYaml . }}
    {{- end }}
      volumes:
      - name: temp-vol
        emptyDir: {}
      - name: config
        configMap:
          name: adapter-config
